product = input()
day = input()
quantity = float(input())

if day in "Monday Tuesday Wednesday Thursday Friday":
    if product == 'banana':
        sum = 2.50 * quantity
    elif product == "apple":
        sum = 1.20 * quantity
    elif product == "orange":
        sum = 0.85 * quantity
    elif product == "grapefruit":
        sum = 1.45 * quantity
    elif product == "kiwi":
        sum = 2.70 * quantity
    elif product == "pineapple":
        sum = 5.50 * quantity
    elif product == "grapes":
        sum = 3.85 * quantity

elif day in "Saturday Sunday":
    if product == 'banana':
        sum = 2.70 * quantity
    elif product == "apple":
        sum = 1.25 * quantity
    elif product == "orange":
        sum = 0.90 * quantity
    elif product == "grapefruit":
        sum = 1.60 * quantity
    elif product == "kiwi":
        sum = 3 * quantity
    elif product == "pineapple":
        sum = 5.60 * quantity
    elif product == "grapes":
        sum = 4.20 * quantity

else:
    print("error")
print(f"{sum:.2f}")
